# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

################################### Altium
# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.log
*.htm
*.$$$

*.html
*.drc

*.outJob

#useless dirs
FusionVisionPCB/Project/Outputs
FusionVisionPCB/Project/Logs
FusionVisionPCB/Project Outputs
FusionVisionPCBScreen/Project Outputs
FusionVisionPCBMultiboard/Project Outputs

#History
FusionVisionPCB/History/
FusionVisionPCBScreen/History/
FusionVisionPCBLight/History/
FusionVisionPCBMultiboard/History/

FusionVisionCode/CM4/Debug/
FusionVisionCode/CM7/Debug/

#Exports, but not manual ones
FusionVisionPCB/exports/*
FusionVisionPCBScreen/exports/*
FusionVisionPCBLight/exports/*
!FusionVisionPCB/exports/manual
!FusionVisionPCBScreen/exports/manual
!FusionVisionPCBLight/exports/manual

FusionVisionPCB/exports/*
FusionVisionPCBLight/exports/*
FusionVisionPCBScreen/exports/*
!FusionVisionPCBScreen/exports/manual
!FusionVisionPCB/exports/manual
!FusionVisionPCBLight/exports/manual

#Python stuff
scripts/__pycache__/
*.bak
*.dwl
*.dwl2

#CubeIDE
*.launch
*.prefs
*.xml

*.bmp